html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.get-to-know-joel-container {
    text-align: center;
}

.baconsale-link-container {
    margin-top: 20px;
}

.baconsale-image {
    max-width: 100%;
    height: auto;
    border: 3px solid #ddd;
    border-radius: 8px;
}

a {
    text-decoration: none;
    color: #007bff;
}

    a:hover {
        text-decoration: underline;
    }

/* CSS to make the form and table scrollable */
.table-container {
    max-height: 400px; /* Adjust height as needed */
    overflow-y: auto;
}

/* Additional styling for the form and table */
.col-md-6 {
    padding: 20px; /* Add padding to create space between elements */
}

form {
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #f9f9f9;
}

h2 {
    margin-top: 0;
}