@{
    ViewData["Title"] = "Get to Know Joel";
}

<div class="get-to-know-joel-container">
    <h1>@ViewData["Title"]</h1>
    <p>
        Joel Hilton is not only a talented performer at <a href="https://www.qwcomedy.com/" target="_blank">Quick Wits Comedy</a>,
        but he is also a passionate movie enthusiast. He shares his insights and reviews on
        <a href="https://baconsale.com/" target="_blank">Baconsale</a>, a podcast about films & pop culture.
    </p>

    <div class="baconsale-link-container">
        <a href="https://baconsale.com/" target="_blank">
            <img src="~/baconsalekate.jpeg" alt="Baconsale Podcast" class="baconsale-image" />
        </a>
        <p>Click the image above to visit the Baconsale podcast site and dive into the world of movies and pop culture.</p>
    </div>
</div>
