@{
    ViewData["Title"] = "Get to Know Joel";
}

<div class="get-to-know-joel-container">
    <h1>@ViewData["Title"]</h1>
    <p>
        Joel Hilton is not only a talented performer at <a href="https://www.qwcomedy.com/" target="_blank">Quick Wits Comedy</a>,
        but he is also a passionate movie enthusiast. He shares his insights and reviews on
        <a href="https://baconsale.com/" target="_blank">Baconsale</a>, a podcast about films & pop culture.
    </p>

    <div class="baconsale-link-container">
        <a href="https://baconsale.com/" target="_blank">
            <img src="https://dl.boxcloud.com/api/2.0/internal_files/1439606248084/versions/1578785044521/representations/jpg_paged_2048x2048/content/1.jpg?access_token=1!C5eaCOzLnsJQKZ6MmatoBntAivgk2tIM1d_lWYWIA5RUHBPT6R8Mg0WTVPxqF_M9aly37quSjg_T43s_wL4buHafCgZpPbiDXRBm_VpVHQqvxKa_8QX5heAdECf4SKw7Y7YgR5Sg9VIlnwHRP814JRVCUxFccaxr4sfjk1nmnSA-vmC8-KLKomlXbQEIgfxOgfQ9uMwnDanDopgFFjgCwSpFraGle62EVUofET366k9GJoSoE-uVsyqbujPxHuEQT64CTBhTFIdXjy9jsqG7ifbKzyFuOz0lzs7aAHKbg_OKM9Q-e2ohKOcgcYOUzbRQCDUSLP44myZ4OaYsfF7hFWdoyEJGZ7Davn5T6VvWFskf3cK922xxGooJoRkkDEGWlgW5vpWQCete2ktE8QFGTHTV2oS_BAcuswAHHRcvgyn68MC1H_ZaOHz09HgLaPxGeZeuCDvGxpMe0USrm4BBfcsyPzgh1KGjRxQkjJvO9dlhP2YsVEQijEFuUorLffdpLfgmigi3LjtP1EJ65L5k-4GBlKIn0Va0x0qmMjBmf569ufuI4wLmtZa8xSTm-u0H1G9qeSLX4mD6u40EMvo-yGW2PGVJsNVzvlxyERSfL9KBrrFci5b2MUc7Itnzah7PuVUhAOIZ6h7sEb3E88kDah2OXxmPX9-pkG0-KtM7FpU4iEQoWXMyKxN_ayS7TO53AWJgG17uviJKPVgYhsZh_yNqWo_LdJ7lzM68-tQg5fZsJR4aUTC32w..&shared_link=https%3A%2F%2Fbyu.app.box.com%2Fs%2Fie6ibeddqm0f6oudp7bc5dyt87zxi2u4&box_client_name=box-content-preview&box_client_version=2.102.0" alt="Baconsale Podcast" class="baconsale-image" />
        </a>
        <p>Click the image above to visit the Baconsale podcast site and dive into the world of movies and pop culture.</p>
    </div>
</div>
