@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<h1>@ViewData["Title"]</h1>

<img src="https://dl.boxcloud.com/api/2.0/internal_files/908099177363/versions/978098006963/representations/jpg_paged_2048x2048/content/1.jpg?access_token=1!lypp2R99rPbtTutUdVXhMSbcXVB76KsDRIqUJZOXHu11N4yCaiitVcBhEGNig0O0EasGU2ygcTg69sk_g3Xqrwgx0NnJxf3AbC-jCOSC2gm3DDzNipSlzbDhd_6EjlsbfzKHEBY_egY8ad58gvC7PNw1aq6lox-ptmgvyuAPSKCJL-5EW7BJ8cMiZA2D_yvNXdWMEHk9AevUOYdKqAIyUOiGdqhJVpZx7iSZL3gIiHEIfRei1xaX3b6DiWGbfTxNPMeD7MvvnuhJbntFy3AgFxrkWE54IJTZ2PjXQQkdLEF-4SN1osI2E2BhxWp_GAnbJR-ZvcGaC1JEmltXm4fYRO-d_0FnXIoTQSxKDjAp614Ty1YZB1IqFQRW_H1lJzrvU2jueVCj1JpVl9ceggsyBrdvIJj4KzUWlHU0SCWmCaRQ-xr0eW82tz8X8JhnvrvfpEVd-G3Hmk3s4dgqxX2ukyjmuxSpRXZM6oDO_4vDp7nwcGU1dbo5kiHmmmmWXYyC292w1brGvMk3jHQY7tEiTRqCMQ8H8DzdkqYcEN9aDjEjqiKCFtiOf8VtSWAQnrLtzyIj7GjmFWmwI7XviCd-cMGwYJoheHL95qnUTPJBOnaur6EnNcfWGkS1haUkvPTnR4No4Fv9Nk47X03NoNM6CzE7Iag5Q7y17CmX5dy7bey9njqQon5nQgiqcX6yywJGzlKIMBk2kc49u_gxer5qSAjsYD-WAGlr7apBBZounEvAeZklhA..&shared_link=https%3A%2F%2Fbyu.app.box.com%2Fs%2F8sjz2qei13h4nnlw0e6gc10ot35octkf&box_client_name=box-content-preview&box_client_version=2.102.0" alt="Joel Hilton" />

